In [1]:
# actual programming 

# logics

# 1. conditions
# 2. loops
# 3. errors 
# 4. functions
# 5. classes
# 6. library

In [1]:
# Suites in python

#####################

# statement:
#     content 
#     content
#     statement2:
#         content
# statement3:
#     content

In [1]:
# Conditional statements
    # 1. if-elif-else

# Looping 
    # 1. while - else
    # 2. for - else
    # continue/break

# Error Handling 
    # try - except - else - finally

# User defined Functions
    # def

# classes 
    # class

In [4]:
for i in range(1,11):
    print("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [5]:
# range function
list (range(1,100,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [6]:
a= [4,"hi","nice",35]
b = []

for i in range(len(a)):
    b.append(a[i] * 2)
b

[8, 'hihi', 'nicenice', 70]

In [7]:
a= [4,"hi","nice",35]
b = []

# for - each loop
for val in a:
    b.append(val * 2)
b

[8, 'hihi', 'nicenice', 70]

In [8]:
# comprehension
## For-Loop Statements which are of one liner

# list comprehension
    # [Output for-loop]
    # [Output for-loop if-condition] - Filter
# Dictionary comprehension
    # {key_op: value_op for-loop}
# Set comprehension
    # {Output for-loop}
# Generator comrehension
    # (Output for-loop)

b = [val*3 for val in a]
b

[12, 'hihihi', 'nicenicenice', 105]

In [9]:
k = [4,7,3,67,24,2,4,45,22,11,9,8]
p = [val for val in k if val%2 == 0]
p

[4, 24, 2, 4, 22, 8]

In [11]:
p = [val for val in k if val%2 and val>10]
p

[67, 45, 11]

In [12]:
p = [val for val in k if not val%2 and val>10]
p

[24, 22]

In [18]:
k = [4,7,3,67,24,2,4,45,22,11,9,8]

p = [val//2 if not val % 2 else val*2 for val in k]
p

[2, 14, 6, 134, 12, 1, 2, 90, 11, 22, 18, 4]

In [23]:

p = [val*2 if val%2!=0 else (val//2 if val < 20 else val) for val in k]
p

[2, 14, 6, 134, 24, 1, 2, 90, 22, 22, 18, 4]

In [24]:
m = {val: val**2 for val in k if val%2 == 0}
m

{4: 16, 24: 576, 2: 4, 22: 484, 8: 64}

In [25]:
for i in m:
    print(i)

4
24
2
22
8

In [32]:
for i,j in m.items():
    print(i,":",j)

4 : 16
24 : 576
2 : 4
22 : 484
8 : 64

In [33]:
# User defined functions
###########################

#syntax 
# def function_name():
#    body

# calling a function
# function_name()

In [35]:
def product(num1,num2):
    return num1 * num2
print(product(5,10))

50

In [40]:
def product_1(num1,num2=10):
    return (num1 * num2) + num1

ans = product_1(2)
ans

22

In [42]:
def kuch_args(*v):
    return v

kuch_args(9,8,2)

(9, 8, 2)

In [ ]:
python functions can Be 
1. Assigned as a ValueError
2. Taken as input argument in another function
3. Defined inside another function
4. Return a function as output from another function

In [7]:
# Functions can be assigned to variables
def abc():
    print("Hey")
abc()

Hey

In [46]:
def kuch_arg(x= 10,*v,**u):
    return [i*x for i in v],u

kuch_arg(5,2,3,somedata=[3,4,5,6])

([10, 15], {'somedata': [3, 4, 5, 6]})

In [2]:
# 1. assigning function to a variable
k = abc
k

In [3]:
k()

Hey

In [8]:
# 2. Function as an argument
def another(fx):
    fx()

another(k)

Hey

In [12]:
# 3. Defining inside another function

def PQR():
    def QRP():
        print("Hello")
    return QRP

# assigning the value of the function pqr to x that is x -> pqr() -> qrp
x = PQR()
x()

Hello

In [13]:
# Annonymous Function - Lambda Expressions
# lambda inp_args : output (returned)

# Its always one liner
# Always returns 
# Input arguments can be multiple, optional, keyword, named, etc
# Output can be simple/conditional/comprehension etc.

In [14]:
def doubler(x):
    return x*2

m = doubler(2)

In [15]:
print(m)

4

In [16]:
doubler_l = lambda x : x*2
doubler_l(3)

6

In [18]:
oddeve = lambda x : "Odd" if x%2!=0 else "Even"
print(oddeve(9))

Odd

In [19]:
lambda y: y*y

In [20]:
cell = lambda y:y*y

In [21]:
cell(9)

81

In [22]:
# lambda : 3
# lambda : "HI"
# lambda : print("hi")

In [23]:
# Scope of variables
# global
# locals
# nonlocal

In [30]:
x = 10

def abc():
    # global keyword
    global x
    x =30
    # print(x)

print(x)
abc()
print(x)

10
30

In [32]:
x = 10

def abc():
    
    # inward uses of a local variable are allowed but outward uses are not allowed
    x =30
    y = 15
    def xyz():
        # Global won't work here as the y is not global
        # Here nonlocal will be used, here variable is not global as well as not local
        nonlocal y
        y = 28
        print("From xyz", x)
    xyz()
    print(y)
print(x)
abc()
print(x)

10
From xyz 30
28
10