In [1]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [2]:
lst = [1,2,3,4,5]
print(lst)

# printing the list in the reverse order 
# lst[end : start : -1]
print(lst[::-1])

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [3]:
str = "a sample python statement"

In [4]:
print(str[-16:-10:1])

python

In [6]:
print(str[-11:-17:-1])

nohtyp

In [9]:
print(str[15:8:-1])

 nohtyp

In [12]:
print(str[:-10:-1])

tnemetats

In [13]:
p = [45, [[[[['1','01'],9],34],6],29],92]
len(p)

3

In [14]:
p[-1]

92

In [15]:
p[1]

[[[[['1', '01'], 9], 34], 6], 29]

In [21]:
p[1][0][0][0][0][1][0]

'0'

In [22]:
d1= [{'a':34},66,{'66':[{'00':[98,'hi']},'awesome',{'m':'n'}]}]

In [23]:
print(d1)

[{'a': 34}, 66, {'66': [{'00': [98, 'hi']}, 'awesome', {'m': 'n'}]}]

In [25]:
print(d1[2])

{'66': [{'00': [98, 'hi']}, 'awesome', {'m': 'n'}]}

In [37]:
print(d1[2]['66'][1][0])

a

In [38]:
print(d1[1])

66

In [6]:
str = 'hey'
a = [4,6,8,"hi",3.4]
b = (4,6,8,"hi",3.4)
c = {4,6,8,"hi",3.4}
d = {4:6,8:["hi",3.4]}

a.insert(0,str)

In [7]:
print(a)

['hey', 4, 6, 8, 'hi', 3.4]

In [9]:
#adding elements into the tuple
b + (8,9)

(4, 6, 8, 'hi', 3.4, 8, 9)

In [10]:
# multiplication operator 
"hello " * 3

'hello hello hello '

In [11]:
# + & * not allowed for dict and set
print(b)

(4, 6, 8, 'hi', 3.4)

In [12]:
str+= " there"
print(str)

hey there

In [13]:
#altering tuple that is immutable by using + operator
b+=(99,999)
print(b)

(4, 6, 8, 'hi', 3.4, 99, 999)

In [15]:
print(a)

['hey', 4, 6, 8, 'hi', 3.4]

In [16]:
a[:2] + [39] + a[2:]

['hey', 4, 39, 6, 8, 'hi', 3.4]

In [17]:
print(a)

['hey', 4, 6, 8, 'hi', 3.4]

In [20]:
b+=tuple("bye")

In [21]:
print(b)

(4, 6, 8, 'hi', 3.4, 99, 999, 'b', 'y', 'e')

In [24]:
#single valued tuple "must add a coma(,) in the end of the tuple"
b+=("bye",)
print(b)

(4, 6, 8, 'hi', 3.4, 99, 999, 'b', 'y', 'e', 'bye', 'bye', 'bye')

In [25]:
# adding * is used to treat the variable as a tuple
(*b,*b)

(4,
 6,
 8,
 'hi',
 3.4,
 99,
 999,
 'b',
 'y',
 'e',
 'bye',
 'bye',
 'bye',
 4,
 6,
 8,
 'hi',
 3.4,
 99,
 999,
 'b',
 'y',
 'e',
 'bye',
 'bye',
 'bye')

In [27]:
(*a,*b,*str)

('hey',
 4,
 6,
 8,
 'hi',
 3.4,
 4,
 6,
 8,
 'hi',
 3.4,
 99,
 999,
 'b',
 'y',
 'e',
 'bye',
 'bye',
 'bye',
 'h',
 'e',
 'y',
 ' ',
 't',
 'h',
 'e',
 'r',
 'e')

In [31]:
# inserting in dict
d[99] = [89,"world"]
d

{4: 6, 8: ['hi', 3.4], 99: [89, 'world']}

In [33]:
d["jatin"] = "jatin"
d

{4: 6, 8: ['hi', 3.4], 99: [89, 'world'], 'jatin': 'jatin'}

In [3]:
{**d,**d}

NameError: name 'd' is not defined

In [35]:
d1 = {1:"aman",2:"jatin"}
{**d,**d1}

{4: 6,
 8: ['hi', 3.4],
 99: [89, 'world'],
 'jatin': 'jatin',
 1: 'aman',
 2: 'jatin'}

In [36]:
# str[0] = "a" item assignment is not allowed in tuple,string,set
d[4] = 66

In [37]:
d

{4: 66, 8: ['hi', 3.4], 99: [89, 'world'], 'jatin': 'jatin'}

In [38]:
del d[0]

KeyError: 0

In [39]:
del d[4]

In [40]:
d

{8: ['hi', 3.4], 99: [89, 'world'], 'jatin': 'jatin'}

In [42]:
del d

NameError: name 'd' is not defined

In [43]:
bool("False")

True

In [45]:
bool(" ")

True

In [46]:
# anything non zero and non empty is True
bool("")

False

In [47]:
bool([{}])

True

In [48]:
bool([])

False

In [49]:
bool({})

False

In [50]:
bool()

False

In [51]:
a = 34
b=34.99
c = 35 + 8j

In [52]:
# "real" function is used to return the real value of the integer
a.real

35.0

In [53]:
b.real

34.99

In [54]:
c.real

35.0

In [55]:
# str : upper, lowoer, find ,split , strip, join, format, count
# list : append, sort , count , copy, insert , remove, index, pop
# tuple : count, index
# dict: keys, values, update, get, pop
# set : add, difference , union, pop, remove

In [56]:
a = "ayush"
a.capitalize

In [57]:
print(a.capitalize())

Ayush

In [59]:
print(a.upper())

AYUSH

In [60]:
d

NameError: name 'd' is not defined

In [61]:
dict_1 = {1: " aman",2:"jatin",3:"naman"}

In [62]:
dict_1

{1: ' aman', 2: 'jatin', 3: 'naman'}

In [66]:
dict_1.update(0)

TypeError: 'int' object is not iterable

In [67]:
dict_1.update({1:'ayush'})

In [68]:
dict_1

{1: 'ayush', 2: 'jatin', 3: 'naman'}

In [1]:
s = "hello"
s.strip('ohl')

'e'

In [2]:
s.strip('oh')

'ell'

In [3]:
"star".join("Wars")

'Wstarastarrstars'

In [4]:
'-'.join('hi this is a new string')

'h-i- -t-h-i-s- -i-s- -a- -n-e-w- -s-t-r-i-n-g'

In [5]:
'-'.join('hi this is a new string'.split())

'hi-this-is-a-new-string'

In [13]:
x = 20
y = 30
# using f-string, format functions
# z = f'ek aisa data jo {x} to {y} hai'
# z = "Ek aisa data jo %d to %d hai"%(x,y)
z = "Ek aisa data jo {} to {} hai"
z = z.format(x,y)
# print(z)
z1 = "ek aisa data jo {0} to {1} hai lekin {0} hi kaafi hai".format(x,y)
z1

'ek aisa data jo 20 to 30 hai lekin 20 hi kaafi hai'

In [14]:
# 1. No input and no output args
# 2. Input arg but not output args
# 3. No input but output args are there
# 4. Both are there

In [15]:
f = (3,4,5)
f

(3, 4, 5)

In [16]:
tuple(sorted(f,reverse=True))

(5, 4, 3)

In [17]:
# get function
g = {3:[4,5],'a':44}
g.get('z','oh no')

'oh no'

In [18]:
g.get('z')

In [20]:
g.get('oh no')
g.get('a')

44

In [21]:
# g.get(key, default value if key not found)
# deep copy vs shallow copy
# deep copy -> child = parent
# shallow copy -> child = parent.copy()

p = [3,8,2,3,4,6,35,6,3,67,3,7,35,88,99,3,4,5]
p1 = set(p)
p1

{2, 3, 4, 5, 6, 7, 8, 35, 67, 88, 99}